@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;700&display=swap');
*{
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#fff;
    overflow-x: none; 
}

body{
    margin: 0;
    padding: 0;
    background-color: #7A0BC0;
}

h2{
    font-size: 3em;
    text-align: left;
    margin: 0;
    color:#FA58B6;
    border-bottom: 5px solid #FA58B6;
}

p{
    text-align: justify;
}

/* Flex Classes*/

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

/* Navigation bar */

nav{
    background-color: #1A1A40;
    height: 80px;
    padding: 0 32px;
    color:#fff;
}

ul{
    gap:16px;
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

/* Main section */

main{
    margin: 32px 10%;
    padding: 32px 64px;
    background-color: #270082;
}
.main-img{
    width: 300px;
}

@media (max-width: 728px) {
    *{
        font-size:12px
    }
    main{
        margin: 16px 5%;
    }
}
@media (max-width: 320px) {
    .main-img{
        width: 150px;
    }
    nav{
        flex-direction: column;
    }
    main{
        margin: 16px 0;
    }
}